* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}



.start {
	background-color: rgb(79, 255, 62);
	
	border-radius: 15px;
	outline: none;
	border: none;
	justify-content: center;
	cursor: pointer;
		
	display: flex;
	margin: auto;
	margin-top: 36vh;
	padding: 6vh;
	font-size: 3.3vh;
}

#mg {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#mg div {
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background-color: rgb(114, 111, 255);
	margin: 20px;

	border-radius: 20%;
	word-break: break-all;
}

#mg div:hover {
	background-color: rgb(209, 111, 255);
}
#mg p {
font-size:13px;
}
.g-main {
	display: none;
}

.round-game {
	width: 80%;
	height: 90vh;
	background-color: rgb(114, 111, 255);
	position: relative;
	margin: 0 auto;
	width: 90%;

	border: 1px solid black;
	display: flex;
	align-items: center;
}

#selectmoney {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

#selectmoney div {
	width: 160px;
	height: 160px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 20%;
	font-size: 20px;
}

#selectmoney div:hover,
#ruongmayman div:hover #baucua div:hover {
	background-color: rgb(209, 111, 255);
}

#selectmoney span,
#baucua span {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	margin-left: 40%;
}

#ruongmayman {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

#ruongmayman div {
	width: 160px;
	height: 160px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 20%;
	font-size: 20px;
}

#baucuaa {
	display: none;
}

#baucua {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#baucua div {
	width: 200px;
	height: 120px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 50%;
	font-size: 20px;
}

#baucua .naphop {
	display: flex;
	width: 100%;
	height: 200px;
	background-color: red;
	margin: 10px;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#dcc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#dcc div {
	width: 150px;
	height: 100px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 10%;
	font-size: 20px;
}

#dcc span {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	margin-left: 40%;
}

.bdmain {
	background-color: rgb(79, 255, 62);	
	border-radius: 15px;
	outline: none;
	border: none;
	justify-content: center;
	cursor: pointer;
		
	display: flex;
	margin: auto;
	margin-top: 36vh;
	padding: 5vw;
	font-size: 3.3vh;
}

.player1,
.player2 {
	width: 300px;
    height: 200px;
  
}

.player1 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	justify-content: center;

	align-items: center;
	
}

.player1 .card {

	height: 36%;
}

.player2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.player2 .card {

	height: 36%;
}
.card {
	display: none;
}

.status {
	display: none;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.xd {
	display: none;
	background-color: rgb(79, 255, 62);
	padding: 5px;
	border-radius: 8px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.dcc {
	display: flex;
}




@media only screen and (max-height:570px) {



	.round-game {

		height: 85vh !important;

	}


	img {
		transform: scale(0.9);
	}

}

@media only screen and (max-height:480px) {

	.player1,
	.player2 {
		width: 300px;
		height: 32vh;
	  
	}


}